.wrapper {
    overflow: hidden;
    width: 297mm;
    height: 210mm;
    position: absolute;
    /*background:#ebebeb;*/
}
.background {
        /*position : absolute;*/
        left: 0mm;
        top: auto;
        width: 297mm;
        height: 210mm;
        overflow: hidden;
        position: relative;
		background:#dd0909;
}