<div class="socialpost-wrapper">
    <div class="socialpost-background"></div>
    <div class="socialpost-content">
      <!-- Display orgLogo -->
      <div [ngClass]="config.orgLogo">
        <img [src]="Data.orgLogo" alt="Logo">
      </div>
      <!-- Display orgName -->
      <div [ngClass]="config.orgName">
        <h2>{{ Data.orgName }}</h2>
      </div>
      <!-- Display orgTagline -->
      <div [ngClass]="config.orgTagline">{{ Data.orgTagline }}</div>
      <!-- Display orgAddress -->
      <div [ngClass]="config.orgAddress">
        <i class="bi bi-map-marker-alt"></i>
        <div [innerHTML]="Data.orgAddress"></div>
      </div>
      <!-- Display orgEmail -->
      <div [ngClass]="config.orgEmail">
        <i class="bi bi-envelope"></i>
        {{ Data.orgEmail }}
      </div>
      <!-- Display orgAlternateEmail -->
      <div [ngClass]="config.orgAlternateEmail">
        <i class="bi bi-envelope"></i>
        {{ Data.orgAlternateEmail }}
      </div>
      <!-- Display orgPhone -->
      <div [ngClass]="config.orgPhone">
        <i class="bi bi-whatsapp"></i>
        {{ Data.orgPhone }}
      </div>
      <!-- Display orgAlternatePhone -->
      <div [ngClass]="config.orgAlternatePhone">
        <i class="bi bi-phone"></i>
        {{ Data.orgAlternatePhone }}
      </div>
      <!-- Display orgFax -->
      <div [ngClass]="config.orgFax">
        <i class="bi bi-fax"></i>
        {{ Data.orgFax }}
      </div>
      <!-- Display orgWebsite -->
      <div [ngClass]="config.orgWebsite">
        <i class="bi bi-globe"></i>
        {{ Data.orgWebsite }}
      </div>
      <!-- Display backgroundImage -->
      <div [ngClass]="config.backgroundImage">
        <img [src]="Data.backgroundImage" alt="Background">
      </div>
      <!-- Display subBackgroundImage -->
      <div [ngClass]="config.subBackgroundImage">
        <img [src]="Data.subBackgroundImage" alt="Organization Image">
      </div>
      <!-- Display heading -->
      <div [ngClass]="config.heading">{{ Data.heading }}</div>
      <!-- Display subHeading -->
      <div [ngClass]="config.subHeading">{{ Data.subHeading }}</div>
      <!-- Display description -->
      <div [ngClass]="config.description">{{ Data.description }}</div>
      <!-- Display punchline1 -->
      <div [ngClass]="config.punchline1">{{ Data.punchline1 }}</div>
      <!-- Display punchline2 -->
      <div [ngClass]="config.punchline2">{{ Data.punchline2 }}</div>
      <!-- Display offerline1 -->
      <div [ngClass]="config.offerline1">{{ Data.offerline1 }}</div>
      <!-- Display offerline2 -->
      <div [ngClass]="config.offerline2">{{ Data.offerline2 }}</div>
  
      <!-- Display servicesHeading -->
      <div [ngClass]="config.servicesHeading">{{ Data.servicesHeading }}</div>
      <!-- Iterate over services array -->
      <div [ngClass]="config.services">
        <div *ngFor="let service of Data.services" [ngClass]="config.service">
          <!-- Display service image -->
          <div [ngClass]="config.serviceIcon">{{ service.image }}</div>
          <!-- Display service name -->
          <div [ngClass]="config.serviceName">{{ service.name }}</div>
          <!-- Display service description -->
          <div [ngClass]="config.serviceDescription">{{ service.description }}</div>
        </div>
      </div>
  
      <!-- Display featuresHeading -->
      <div [ngClass]="config.featuresHeading">{{ Data.featuresHeading }}</div>
      <!-- Iterate over features array -->
      <div [ngClass]="config.features">
        <div *ngFor="let feature of Data.features" [ngClass]="config.Feature">
          <!-- Display feature icon -->
          <div [ngClass]="config.featureIcon">{{ feature.featureIcon }}</div>
          <!-- Display feature name -->
          <div [ngClass]="config.FeatureName">{{ feature.FeatureName }}</div>
          <!-- Display feature description -->
          <div [ngClass]="config.FeatureDescription">{{ feature.FeatureDescription }}</div>
        </div>
      </div>
  
      <!-- Display termsHeading -->
      <div [ngClass]="config.termsHeading">{{ Data.termsHeading }}</div>
      <!-- Iterate over terms array -->
      <div [ngClass]="config.terms">
        <div *ngFor="let term of Data.terms" [ngClass]="config.term">
          <!-- Display term icon -->
          <div [ngClass]="config.Icon">{{ term.Icon }}</div>
          <!-- Display term name -->
          <div [ngClass]="config.Name">{{ term.Name }}</div>
          <!-- Display term image -->
          <div [ngClass]="config.Image">{{ term.Image }}</div>
          <!-- Display term description -->
          <div [ngClass]="config.Description">{{ term.Description }}</div>
        </div>
      </div>
    </div>
  </div>
  